*{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

body{
    display: flex;
}

nav{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 18px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid #DBDBDB;
    width: 317px;
}


nav > div >img {
    width: 103px;
    margin-left: 6px;
    margin-top: 41px;
    margin-bottom: 1px;
}

nav >div > div , .lower-nav{
    margin: 40px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav >div > div > button > img{
    width: 24px;
    height: 24px;
    
    margin: 0px;
}

.nav-profile{
    border-radius: 50%;
}

nav >div > div button, nav > div > button {
    display: flex;
    align-items: center;
    gap : 16px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

nav >div > div button > p , nav > div > button > p{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.home{
    font-weight: 700;
}

.lower-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;

}


.lower-nav > img {
    width: 24px;
}

.nav-lower-div img {
    width: 24px;
}

.feed{
    display: flex;
}

.stories{
    display: flex;
    gap: 20px;

}

.stories > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stories > div > div >p {
    font-size: 12px;
    color: #737373;
    font-weight: 400;
}


.stories > div > div > div{
    width: 82px;
    height: 82px;
    border-radius: 50%;
    /* border: 1px solid black; */
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories > div > div >div::after{
    content: "";
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background:linear-gradient(45deg,#FFC700 , #D300C5 );
    position: absolute;
    z-index: -1;
    
}
.stories > div > div > div > img{
    width: 74px;
    border-radius: 50%;
}

