*{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

body{
    display: flex;
}

nav{
    margin: 0px 0px 0px 0px;
    padding: 0px 12px 0px 12px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid #DBDBDB;
    width: 317px;
    position: fixed;
}

.large-logo {
    width: 103px;
    margin:41px 0px 0px 12px;
    cursor: pointer;
    
}

.upper-nav > div , .lower-nav{
    margin: 30px 0px 0px 2px ;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.upper-nav > div > button > img  {
    width: 24px;
    height: 24px;
    
    margin: 0px;
}

.nav-profile-pic{
    border-radius: 50%;
}

.upper-nav> div button, .lower-nav > button{
    display: flex;
    padding: 12px 10px;
    align-items: center;
    gap : 16px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

nav >div > div button:hover, nav > div > button:hover {
    background-color: #F2F2F2;
}

nav >div > div button > p , nav > div > button > p{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.home{
    font-weight: 700;
}

.lower-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

}


.lower-nav > button > img {
    width: 24px;
}



main{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 580px ;
    
}

.feed{
    display: flex;
    width: 702px;
    display: flex;
    flex-direction: column;
    margin-top: 28px;

}

.stories{
    display: flex;
    gap: 18px;

}

.stories > div{
    cursor: pointer;
}

.stories > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stories > div > div >p {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}


.stories > div > div > div{
    width: 82px;
    height: 82px;
    border-radius: 50%;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories > div > div >div::after{
    content: "";
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background:linear-gradient(45deg,#FFC700 , #D300C5 );
    position: absolute;
    z-index: -1;
    
}
.stories > div > div > div > img{
    width: 74px;
    border-radius: 50%;
}


.posts-container{
    margin: 35px auto 20px;
}
.post{
    width: 468px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 15px;
}

.post-head  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.post-head > div {
    display: flex;
    align-items: center;
    gap: 5px;

}

.post-head > div > div > img {
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    
    
}

.post-head > div > div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.post-head > div > div::after{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:linear-gradient(45deg,#FFC700 , #D300C5 );
    position: absolute;
    z-index: -1;
    
}



.post-head-user, .suggestions > div > div >div> div >a {
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.post-head > div > p{
    font-size: 14px;
    color: #737373;
}

.following{
    font-size: 14px;
    font-weight: 600;
    color: #0095F6;
    text-decoration: none;
}


.post-head >  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.post > img {
    width: 466px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    margin-bottom: 10px;
}

.post-bottom{
    display: flex;
    justify-content: space-between;
}

.post-bottom img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.react-panel{
    display: flex;
    gap: 15px;
    margin-bottom: 9px;
}

.like-count{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    
}

.caption{
    font-size: 14px;
    text-align: left;
    margin:7px 0px 0px;
}

.caption-username{
    font-weight: 600;
    margin-right: 4px;
    cursor: pointer;
}

.more{
    font-size: 14px;
    text-align: left;
    color: #737373;
    text-decoration: none;
    
    
}

.comment-count{
    font-size: 14px;
    color: #737373;
    margin:7px 0px 3px;
    cursor: pointer;
}

.comment{
    border: none;
    font-size: 14px;
    margin-bottom: 17px;
    
}

.comment:focus{
    outline: none;
}

.right-side{
    margin: 35px 17px 0px 83px;
}

.right-side-profile{
    display: flex;
    justify-content: space-between;
    width: 283px;
    align-items: center;
}

.right-side-profile > div >img{
   
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.right-side-profile > div {
    
    display: flex;
    align-items: center;
    gap: 10px;
 
    
}

.right-side-profile > div >a{
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.right-side-profile > a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    color: #0095F6;
}

.right-side-profile > a:hover{

    color: #737373;
}

.suggestions{
    width: 283px;

}
.suggestions>h4{
    font-size: 14px;
    color: #737373;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.suggestions>h4 >span{
    font-size: 12px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.suggestions > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
}

.suggestions > div > div >div >img{
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.suggestions > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggestions > div > div >div {

    display: flex;
    align-items: center;
    gap: 10px;
}

.suggestions > div > div >div>div>p{
    font-size: 12px;
    color: #737373;
}

.suggestions > div  >div>a{
    font-size: 12px;
    text-decoration: none;
    color: #0095F6;
    font-weight: 600;
}

.suggestions > div  >div>a:hover{
    color: #737373;
}

.links-container{
    width: 283px;
    margin-top: 35px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 20px;
}

.links > a, .links > p , .copyright{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #C7C7C7;
}




